* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

:root {
    color-scheme: light dark;
    --p-color: light-dark(rgb(6, 124, 6), rgb(0, 99, 0));
    --t-color: white;
    --container: 1024px;
}

body {
    background-color: light-dark(#fff, #161b22);
    color: light-dark(#000, whitesmoke);
    height: 200vh;
}

h1,
h2 {
    font-weight: bold;
}

/* Header */

header {
    background-color: var(--p-color);
    color: var(--t-color);
    padding: 2rem;
}

.h-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
}

.h-container h1 {
    margin-bottom: 1rem;
}

.h-container h3 {
    color: whitesmoke;
}

.contact {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
}

.contact a {
    color: var(--t-color);
    margin-left: 2px;
}

.contact li {
    display: flex;
}

.icon {
    padding: 2px;
    margin: 0;
    border-radius: 50%;
    color: var(--t-color);
}


/* main */

.container {
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
}

.intro {
    margin: 0.8em;
}

.card {
    margin: 1em 0;
}

.card-title {
    background-color: var(--p-color);
    color: var(--t-color);
    padding: .5em 0.1em;
    margin-bottom: .5em;
}

.body {
    margin: 0.8em;
}

.keywords {
    list-style: none;
    margin-left: 1em;
    margin-top: 0.5em;
}

.sub-title {
    font-size: bold;
    margin: 0.5em 0;
}

@media (max-width:765px) {
    /* Header */

    .h-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .h-image {
        margin-left: auto;
        margin-right: auto;
    }

    .profile {
        margin-left: auto;
        margin-right: auto;
    }

    .profile h1 {
        margin: 0.5em auto;
        text-align: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 2rem;
    }

}